---
import { getUser } from "@astro-auth/core";
import UpdateSite from "../../../../components/admin/UpdateSite";
import UpdateSiteModal from "../../../../components/admin/UpdateSiteModal";
import MainLayout from "../../../../layouts/MainLayout.astro";
import prisma from "../../../../server/utils/prisma";
import type { User } from "../../../../types";
const user = getUser({ client: Astro }) as User;
if (!user || user.role !== "ADMIN") {
  return redirectUser("/signup");
}

const { siteID } = Astro.params as { siteID: string };
const site = await prisma.sites.findFirst({
  where: { id: siteID },
  include: { categories: true, tags: { select: { tag: true } } },
});
const categories = await prisma.categories.findMany();
const reports = await prisma.reports.findMany({
  where: { siteId: siteID },
  orderBy: { type: "asc" },
  include: { categories: true, tags: true },
});
---

<MainLayout SEOProps={{title: "Site Reports | Webroll", noindex: true, nofollow:true}}  noProse={false}>
  {
    site && (
      <div class="max-w-3xl mx-auto">
        <h1>
          <a href={`/sites/${site.id}`}>
            {site?.name}({site?.url})
          </a>
        </h1>
        <UpdateSite site={site} client:load />
        <span>
          Categories: <>{site.categories.map((c) => c.category).join(",")}</>
        </span>
        <span>
          Tags: <>{site.tags.map((t) => t.tag.tag).join(",")}</>
        </span>
        <li>
          {reports.map((r) => (
            <ul>
              ({r.id}){r.type}
              <>
                {r.type === "TAGS" ? (
                  <>tags:{r.tags.map((t) => t.tag)?.join(",")}</>
                ) : (
                  r.type === "CATEGORY" && (
                    <>catgs:{r.categories.map((c) => c.category).join(",")}</>
                  )
                )}
              </>
            </ul>
          ))}
        </li>
      </div>
    )
  }
  {site && <UpdateSiteModal client:load site={site} categories={categories} />}
</MainLayout>
