---
import Button from "../../components/ui/buttons/Button";
import BgImage from "../../components/ui/BgImage";
import UpdateSite from "../../components/admin/UpdateSite";
import UpdateSiteModal from "../../components/admin/UpdateSiteModal";
import { Divide, ExternalLink } from "react-feather";
import MainLayout from "../../layouts/MainLayout.astro";
import { getSignedImageUrl } from "../../server/aws/bucket";
import prisma from "../../server/utils/prisma";

import { getImage } from "@astrojs/image";
import ReportModal from "../../components/ui/ReportModal";
import { checkAndReturnSessionID } from "../../server/utils/handleSession";
import { getUser } from "@astro-auth/core";
import type { User } from "../../types";
const { siteID } = Astro.params;
const { session, prev_session } = await checkAndReturnSessionID(Astro);
Astro.response.headers.set(
  "Set-Cookie",
  `webroll_session=${session}.${prev_session}; Secure; HttpOnly;`
);
const user = getUser({ client: Astro }) as User;
const isAdmin = user?.role === "ADMIN";

const site = await prisma.sites.findFirst({
  where: { id: siteID as string, status: {notIn: isAdmin ? [] : ["BANNED"]} },
  select: {
    id: true,
    url: true,
    name: true,
    description: true,
    status: true,
    imgKey: true,
    views: true,
    sourceLink: true,
    allowEmbed: true,
    submittedAt: true,
    updatedAt: true,
    categories: { select: { category: true, description: true } },
    tags: { select: { tag: { select: { tag: true } } } },
    likes: { where: { sessionId: session } },
    _count: {
      select: {
        likes: true,
      },
    },
  },
});
const likesCount = site?._count?.likes ?? 0;
let siteImgURL = site?.imgKey
  ? (await getSignedImageUrl(site.imgKey as string)) ?? ""
  : "";
// if (siteImgURL) {
//   const { src } = await getImage({
//     format: "webp",
//     quality: 80,
//     width: 1080,
//     height: 1920,
//     src: siteImgURL,
//     fit: "outside",
//   });
//   if (src) siteImgURL = src;
// }


---

<MainLayout
  skipCookies={true}
  noScrollBar={true}
  noFooter={true}
  pageTitle={`${site?.name ? `${site.name} | ` : ""}WebRoll`}
>
  {
    site ? (
      <>
        <div class="flex flex-col flex-grow ">
          <header
            class="fixed top-0 w-screen flex items-center justify-center  aspect-video bg-scroll bg-cover bg-top z-10  md:invisible bg-neutral"
            style={
              siteImgURL
                ? {
                    backgroundImage: `url(${siteImgURL})`,
                    backgroundRepeat: `no-repeat`,
                  }
                : {
                    backgroundImage: `radial-gradient(circle, hsl(var(--sc)) 1px, rgba(0, 0, 0, 0) 1px)`,
                    backgroundSize: `5px 5px`,
                  }
            }
          />
          <header
            class="fixed top-0 w-screen h-screen  flex items-center justify-center  aspect-video bg-scroll bg-cover bg-no-repeat bg-top bg-neutral md:top-20 "
            style={
              siteImgURL
                ? {
                    backgroundImage: `url(${siteImgURL})`,
                    filter: `blur(12px)`,
                  }
                : {
                    backgroundImage: `radial-gradient(circle, hsl(var(--sc)) 1px, rgba(0, 0, 0, 0) 1px)`,
                    backgroundSize: `5px 5px`,
                  }
            }
          />
          <div class="aspect-video w-full md:invisible md:w-0" />
          <div class="rounded-t-2xl md:rounded-t-none bg-base-200/80 md:bg-base-200 border-t border-base-100 -mt-10 md:mt-0 z-10 relative flex-grow  flex flex-col overflow-auto backdrop-blur-md">
            <div class="flex items-center justify-center  absolute h-4 top-0 z-20 w-full md:hidden">
              <div class="bg-black rounded opacity-40 w-10 h-1 z-20" />
            </div>
            <div
              class=" md:max-w-none m-auto flex-grow flex flex-col min-w-full "
              style={{}}
            >
              <h1 class="text-2xl p-4 pb-0 ">
                <a
                  href={site.url}
                  target={"_blank"}
                  rel={"norefferer"}
                  class="flex items-start flex-row-reverse justify-between gap-4 no-underline font-light"
                >
                  <span class="">{site.name.replace(/\/+$/, "")}</span>
                  <img
                    class={"my-0 aspect-square"}
                    src={`https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${site.url}&size=32`}
                  />
                </a>
              </h1>
              <div class="flex flex-col flex-grow lg:flex-row-reverse lg:justify-end ">
                {site.description && (
                  <p class="my-0 pt-0 px-4 pb-2 lg:hidden lg:p-0 lg:m-0  ">
                    {site.description}
                  </p>
                )}
                <div
                  class={
                    " rounded-none shadow-inner h-[50vh] lg:h-auto lg:flex-grow bg-neutral w-full lg:w-2/3 xl:w-3/4 relative " +
                    (site.allowEmbed ? "  " : " hidden md:block my-4 lg:my-0 ")
                  }
                  style={{
                    backgroundImage: `radial-gradient(circle, hsl(var(--sc)) 1px, rgba(0, 0, 0, 0) 1px)`,
                    backgroundSize: `5px 5px`,
                  }}
                >
                  {site.allowEmbed ? (
                    <iframe class="w-full h-full " src={site.url} />
                  ) : (
                    <div class="flex items-center justify-center h-[50vh] lg:h-full overflow-hidden">
                      {siteImgURL ? (
                        <BgImage src={siteImgURL} client:load />
                      ) : (
                        <span
                          class="absolute bottom-2 text-xs text-white text-opacity-50 "
                          style={{ textShadow: "0px 1px #FFFFFF20" }}
                        >
                          awaiting screenshot
                        </span>
                      )}
                    </div>
                  )}
                </div>
                <div class="flex flex-col lg:w-1/3 xl:w-1/4 lg:px-4 flex-grow md:bg-base-200">
                  <span class="w-full lg:flex items-center justify-start hidden order-1  ">
                    <a
                      href={site.url}
                      target={"_blank"}
                      class="link link-primary flex items-center gap-2 max-w-full"
                    >
                      <span class="truncate">{site.url}</span>
                      <ExternalLink size={15} />
                    </a>
                  </span>
                  <p class="pt-0 hidden lg:block order-2 ">
                    {site.description}
                  </p>
                  <div class="flex-grow lg:order-3" />
             
                  <div class="w-full lg:order-4 order-5 ">
                    <p class=" mb-0 flex flex-col gap-1 bg-base-100 p-4  font-light text-sm shadow w-full">
                      <span class="flex justify-between">
                        <span>views</span>
                        {site.views}
                      </span>
                      <span class="flex justify-between">
                        <span>likes</span>
                        <span>{likesCount}</span>
                      </span>
                      {site.sourceLink && (
                        <span class="flex justify-between">
                          <span>source</span>
                          <a
                            class="font-light"
                            href={site.sourceLink}
                            target={"_blank"}
                            rel={"norefferer"}
                          >
                            {site.sourceLink}
                          </a>
                        </span>
                      )}
                      <span class="flex justify-between">
                        <span>categor{site.categories.length === 1 ? "y":"ies"}</span>
                        {site.categories.map(c => c.category).join(",")}
                      </span>
                      <span class="flex justify-between">
                        <span>status</span>
                        {site.status}
                      </span>
                      {isAdmin && (
                      <div class=" bg-base-100 p-2 w-full">
                        <UpdateSite site={site} client:load/>

                        </div>
                    )}
                    </p>
                    {(site.status === "REVIEW" ||
                      site.status === "PARSING") && (
                      <div class=" mt-4 text-sm font-semibold text-neutral text-center mx-auto py-2">
                        {site.status === "REVIEW" ? (
                          <span>{`Submitted site under review.`}</span>
                        ) : (
                          <span>{`Site is being parsed. Check back later for review status.`}</span>
                        )}
                      </div>
                    )}

                    <div class="my-4" />
                    <div class="bg-base-100 text-sm border p-4 pt-2 shadow w-full ">
                      <span class="">tags</span>
                      <div class="my-1" />
                      <div class="flex justify-center items-center flex-wrap gap-1">
                        {site.tags.length > 0 ? (
                          <>
                            {site.tags.map((tag) => (
                              <div class="lowercase btn btn-xs text-xs font-light text-base-100 flex items-center px-2 rounded-full bg-primary-focus">
                                {tag.tag.tag}
                              </div>
                            ))}
                          </>
                        ) : (
                          <span>no tags found</span>
                        )}
                      </div>
                    </div>
                  </div>

                  <div class="flex flex-col items-center w-full justify-between gap-4 max-w-lg mx-auto my-4 px-4 lg:order-5 order-4">
                    <span class="w-full flex items-center justify-center lg:invisible ">
                      <a
                        href={site.url}
                        target={"_blank"}
                        class="link link-primary flex items-center gap-2 max-w-full"
                      >
                        <span class="truncate">{site.url}</span>
                        <ExternalLink size={15} />
                      </a>
                    </span>
            
                    <Button
                      client:load
                      styles={"btn-ghost btn-active w-full gap-2 btn-sm "}
                      type={"like"}
                      site={site}
                    />
                    <Button
                      client:load
                      styles={"btn-ghost btn-active w-full gap-2 btn-sm "}
                      type={"share"}
                      site={site}
                    />
                    <Button
                      client:load
                      styles={"btn-ghost btn-active w-full gap-2 btn-sm "}
                      type={"report"}
                      site={site}
                    />
                  </div>
                  <div class="flex-grow order-6 lg:hidden" />
                  <div class="max-w-lg px-4 py-4 w-full mx-auto order-7">
                    <a
                      href="/submit"
                      class="btn btn-primary text-base-100 shadow-xl w-full capitalize max-w-lg"
                    >
                      Submit A Site
                    </a>
                  </div>

                  <p class="text-xs font-light text-center px-4 max-w-lg mx-auto order-8">{`Please use the Report button if you think this site is categorized incorrectly, has invalid tags, is broken, or breaks `}<a href="/rules">WebRoll submission rules</a>{`. `}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ReportModal client:load siteID={site.id} />
        {isAdmin && (
          <>
            <UpdateSiteModal client:load siteID={site.id} />
          </>
        )}
      </>
    ) : (
      <div class="w-full h-screen flex items-center justify-center pb-20 ">
        <p class="text-center">page not found<br/>this site ID is invalid or the site was blacklisted</p>
      </div>
    )
  }
</MainLayout>
